*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
:root{
    --color-74c044: #74c044;
    --color-3b4149: #3b4149;
    --color-fff: #fff;
    --color-c7d601: #c7d601;
    --color-6ac359: #6ac359;
    --color-add000: #add000;
  }
body{
  height: 100vh;
}
.wraper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
#main-grid{
  margin-bottom: 2px;
}
/**********UPPER HEAD***********/
.top-header{
  display: flex;
  flex-direction: row;
  height: 3%;
  background-color: #c7d601;
}
.free-shipping,
.phone{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.free-shipping p,
.phone p{
  font-size: 1.8rem;
}
.phone{
  width: 100%;
}

/***********UPPER HEAD************/

/***********CENTER HEAD***********/
.center-header{
  background-color: #6ac359;
  display: flex;
  height: 8%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
}
.category-menu{
  width: 30%;
}
.main-logo{
  width: 100%;
}
.auth-corner{
  width: 30%;
}
.category-menu,
.main-logo,
.auth-corner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image{
  display: flex;
  width: 100%;
}
/**************************************************/
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 70px;
  height: 5px;
  background-color: floralwhite;
  margin: 15px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 20px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -20px) rotate(45deg);
}
/**************************************************/
/*********************DROPDOWN*****************************/
.dropdown-content {
  top: 190px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 110px;
  overflow: auto;
  width: 15%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-size: 2.5rem;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.show a {
  width: 100%;
}

.show :hover{
  cursor:pointer;
  background-color: rgba(153, 205, 50, 0.726);
  transform: scale(1.02);
}
/**********************DROPDOWN****************************/
/**********************SEARCH*****************************/

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.search-container input{
  width: 50%;
  height: 100%;
}
.search-container input[type=text]{
  font-size: 1.4rem;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}
.search-container input[type=text]:focus {
  width: 100%;
}
.search-container button{
  width: 20%;
  height: 100%;
  font-size: 1.4rem;
}


/**********************SEARCH*****************************/

/***********BOTTOM HEAD***********/

.bottom-header{
  background-color:var(--color-74c044);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}
/***********BOTTOM HEAD***********/

/***********CONTENT***********/
.content{
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  overflow-y: scroll;
}
.card img{
  width: 100%;
}

/***********CONTENT***********/

/**********FOOTER HEAD***********/
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #74c044;
}
/**********FOOTER HEAD***********/


